/* home .css 2 enabled */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #081b29;
}

.wrapper {
    position: relative;
    width: 750px;
    height: 450px;
    background: transparent;
    border: 2px solid #0ef;
    box-shadow: 0 0 25px #0ef;
    overflow: hidden;
}

.wrapper .form-box {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .form-box.login {
    left: 0;
    padding: 0 60px 0 40px;
}

.wrapper .form-box.login .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .form-box.login .animation {
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}

.wrapper .form-box.register {
    right: 0;
    padding: 0 40px 0 60px;
    pointer-events: none;
}

.wrapper.active .form-box.register {
    pointer-events: auto;
}

.wrapper .form-box.register .animation {
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .form-box.register .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));
}

.form-box h2 {
    font-size: 32px;
    color: #fff;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    padding-right: 23px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}

.input-box input:focus,
.input-box input:valid {
    border-bottom-color: #0ef;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
    color: #0ef;
}

.input-box i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    transition: .5s;
}

.input-box input:focus~i,
.input-box input:valid~i {
    color: #0ef;
}

.btn {
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
}

.btn::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(#081b29, #0ef, #081b29, #0ef);
    z-index: -1;
    transition: .5s;
}

.btn:hover::before {
    top: 0;
}

.form-box .logreg-link {
    font-size: 14.5px;
    color: #fff;
    text-align: center;
    margin: 20px 0 10px;
}

.logreg-link p a {
    color: #0ef;
    text-decoration: none;
    font-weight: 600;
}

.logreg-link p a:hover {
    text-decoration: underline;
}

.wrapper .info-text {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .info-text.login {
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
}

.wrapper .info-text.login .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .info-text.login .animation {
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}

.wrapper .info-text.register {
    left: 0;
    text-align: left;
    padding: 0 150px 60px 40px;
    pointer-events: none;
}

.wrapper.active .info-text.register {
    pointer-events: auto;
}

.wrapper .info-text.register .animation {
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .info-text.register .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));
}

.info-text h2 {
    font-size: 22px;
    color: #fff;
    line-height: 1.3;
    text-transform: uppercase;
}

.info-text p {
    font-size: 12px;
    color: #fff;
}

.wrapper .bg-animate {
    position: absolute;
    top: -4px;
    right: 0;
    width: 850px;
    height: 600px;
    background: linear-gradient(45deg, #081b29, #0ef);
    border-bottom: 3px solid #0ef;
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
    transition: 1.5s ease;
    transition-delay: 1.6s;
}

.wrapper.active .bg-animate {
    transform: rotate(0) skewY(0);
    transition-delay: .5s;
}

.wrapper .bg-animate2 {
    position: absolute;
    top: 100%;
    left: 250px;
    width: 850px;
    height: 700px;
    background: #081b29;
    border-top: 3px solid #0ef;
    transform: rotate(0) skewY(0);
    transform-origin: bottom left;
    transition: 1.5s ease;
    transition-delay: .5s;
}

.wrapper.active .bg-animate2 {
    transform: rotate(-11deg) skewY(-41deg);
    transition-delay: 1.2s;
}
/*Home.css 1 disabled */
/* * {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1
}

#toggle-btn.icon, #toggle-btn-register.icon  {
  cursor: pointer;
}



.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border: none;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.wrapper {
  position: relative;
  width: 350px;
  height: 450px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 50px 0px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrapper .form-box.login {
  transform: translateX(0);
  transition: transform .6s ease;
  transition-delay: .7s
}

.wrapper.active .form-box.login {
  transform: translateX(430px);
  transition-delay: 0s;
}

.wrapper .form-box.register {
  transform: translateX(430px);
  transition: transform .6s ease;
  transition-delay: 0s;
}

.wrapper.active .form-box.register {
  transform: translateX(0);
  transition-delay: .7s
}

.wrapper .form-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(20px);
  color: #162938
  padding: 0px;
}

.form-box.login, .form-box.register {
  position: absolute;
}

.form-box.login h2 {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  font-size: 1.5em;
  color: #162938;
  font-weight: 600;
  text-align: center;
}

.form-box.register h2 {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 3%;
  font-size: 1.5em;
  color: #162938;
  font-weight: 600;
  text-align: center;
}

.register .choose-profile input {
  display: none;
}

.register .choose-profile {
  position: relative;
  padding: 10px;
  margin: 5px;
}
.register .choose-profile .icon-img {
  position: absolute;
  left: 2%;
  top: -10%;
  cursor: pointer;
}

.register .choose-profile .img-choosed {
  position: absolute;
  width: 35px;
  height: 35px;
  top: -13px;
  right: 15%;
  border-radius: 50%;
  display: none;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}


.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color:#162938;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: 2px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border:none;
  outline: none;
  font-size: .8em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #162938;
  line-height: 57px;
}

.remember-forgot {
  font-size: .9em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: 162938;
  margin-right: 3px;
}

.remember-forgot a {
  color: #162938;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.btn:hover {
  background: #fff;
  color: #162938;
}

.login-register {
  font-size: .9em;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 5px 0 0px;
}

.login-register p, a {
  color: #e4e4e4;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

.text-reset-password {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20%;
  font-size: .7em;
  color: #162938;
  font-weight: 600;
  text-align: center;
} */
