@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    border: none;
}
:root{
    --primary-color-hue: 252;
    --color-dark-light-theme: 15%;
    --color-light-light-theme: 92%;
    --color-white-light-theme: 100%;

    --color-white: hsl(0, 0%, var(--color-white-light-theme));
    --color-light: hsl(252, 30%, var(--color-light-light-theme));
    --color-gray: hsl(252, 15%, 60%);
    --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 60%);
    --color-danger: hsl(0, 95%, 60%);
    --color-dark: hsl(252, 30%, var(--color-dark-light-theme));
    --color-black: hsl(252, 30%, 8%);


    --border-radius: 2rem;
    --card-border-radius: 1rem;

    --btn-padding: .6rem 2rem;

    --search-padding: .6rem 1rem;
    --card-padding: 1rem;

    --body-color: #efefef;
    --bg-color: #fff;
    --text-color: #000;
}

body{
   font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    background: var(--body-color);
    transition: background 0.3s;
    font-size: 16px;
}

.dark-theme {
  --body-color: #000;
  --bg-color: #0a0a0a;
  --text-color: #fff;
}

/* ..............Custom Style............. */
.container{
    width: 90%;
    margin: 0 auto;
}

img{
    display: block;
    width: 100%;
}

.profile-picture{
    width: 2.9rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}
.profile-picture:hover{
    opacity: 0.75;
}

.btn{
    padding: var(--btn-padding);
    display: inline-block;
    cursor: pointer;
    border-radius: var(--border-radius);
    font-size: 0.9rem;
    font-weight: 500;
    transition: 300ms ease all;
}
.btn:hover{
    opacity: 0.75;
}
.btn-primary{
    background: var(--color-primary);
    color: var(--color-white);
}

.logout {
  margin-top: 10px;
}

.text-bold{
    font-weight: 600;
}
.text-gry{
    color: var(--color-gray);
}

h3, h5, h6, h4, input[type="search"]::placeholder, input[type="text"]::placeholder, .text-gray, p, .title, small, .add-post-2 {
  color: var(--text-color);
}

/* .................Start NavBar.................. */

nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    padding: .7rem 0;
    background: var(--bg-color);
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .serch-bar{
    padding: var(--search-padding);
    background: var(--bg-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-gray);
}

nav .serch-bar input[type="search"]{
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: .9rem;
    color: var(--color-dark);
}
nav .serch-bar input[type="search"]::placeholder{
    color: var(--text-color);
}
.add-post{
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}

.logo h3{
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    user-select: none;
    color: var(--color-dark);
}

.logo span{
    color: var(--color-primary);
}
/* .................End NavBar.................. */



/* .................Start Main Section.................. */
main{
    position: relative;
    top: 6rem;
}
.main-container{
    display: grid;
    grid-template-columns: 18vw auto 20vw;
    position: relative;
}

.add-post-1 {
  display: block;
}

/* ............Start Main Left........... */
.main-left{
    position: relative;
    height: max-content;
    top: .8rem;

}

.main-left .profile{
    background: var(--bg-color);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    width: 100%;
    gap: 1rem;
    display: flex;
}

aside{
    margin-top: 1rem;
    border-radius:var(--card-border-radius) ;
}

footer {
  position: sticky;
  margin-bottom: .1rem;
  margin-left: 5%;
  border-radius:var(--card-border-radius) ;
  z-index: 100;
}

.footer {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 90%;
  background-color: #F4F6F8;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
  height: 60px;
}

footer .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

footer .menu-item span img {
  width: 24px;
  height: 24px;
  margin-top: 0;
  transition: filter 0.3s ease-in-out;
  position: relative;
  cursor: pointer;
}

footer .menu-item span img:hover {
    filter: brightness(0.8);
}

footer .menu-item h6 {
    position: absolute;
    top: 1.3rem; /* Espacement entre l'icône et le titre */
    color: #1C1E21;
    cursor: pointer;
}

footer .active h6{
    color: var(--color-primary);
    text-decoration: underline;

}

footer .notfy-counter{
    background: var(--color-danger);
    color: var(--color-white);
    width: fit-content;
    font-size: .7rem;
    border-radius: 30%;
    padding: .1rem .4rem;
    position: absolute;
    top: -.6rem;
    left: 1rem;
}

aside .menu-item {
    display: flex;
    align-items: center;
    height: 4rem;
    position: relative;
    cursor: pointer;
    transition: 300ms ease all;
    background: var(--bg-color);
}
aside .menu-item:hover{
    background: var(--color-light);
}
aside .menu-item span img{
    width: 1.7rem;
    margin-left: 2rem;
    position: relative;
    background: var(--color-white);
    color: #000;
}

aside .notfy-counter{
    background: var(--color-danger);
    color: var(--color-white);
    width: fit-content;
    font-size: .7rem;
    border-radius: 30%;
    padding: .1rem .4rem;
    position: absolute;
    top: .7rem;
    left: 3.1rem;
}

.nt{
    left: 3rem !important;
}



aside .menu-item h3{
    margin-left: 1.5rem;
    font-size: 1rem;

}
aside .active{
    background: var(--color-light);
}
aside .active h3{
    color: var(--color-primary);
}
aside .active::before{
    content: '';
    display: block;
    width: .5rem;
    height: 100%;
    background: var(--color-primary);
}
aside .menu-item:first-child{
    overflow: hidden;
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
}
aside .menu-item:nth-last-child(1){
    overflow: hidden;
    border-bottom-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
}


/* ............Start Notifaction Box........... */
.notification-box{
    width: 30rem;
    left: 110%;
    position: absolute;
    top: 0;
    background: var(--bg-color);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: var(--color-primary) 0 0 .4rem;
    z-index: 8;
    display: none;
}
.notification-box::before{
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    background: var(--bg-color);
    position: absolute;
    left: -.6rem;
    transform: rotate(45deg);
}
.notification-box>div{
    display: flex;
    gap: 1rem;
    align-items: start;
    margin-bottom: 1rem;
}
.notification-box .profile-picture{
    width: 2.6rem;
}
.notification-box>div small{
    display: block;
}
/* ............End Notifaction Box........... */



/* ............End Main Left........... */


/* ................Start Main Medle............... */

/* ...........Stories start............ */
.middle-container{
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
}
.stories-wrappper{
    display: block;
    gap: .5rem;
    height: 12rem !important;
}
.stories-wrappper .story{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: var(--card-border-radius);
    overflow: hidden;
    cursor: pointer;
}

#hidden {
  display: none;
}
.story input{
    display: none;
}
.story::before{
    height: 5rem;
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent,var(--color-primary));
    width: 100%;

}
.stories-wrappper .story:first-child{
    background: linear-gradient(transparent,var(--color-primary));
    cursor: pointer;
}
.story .profile-picture{
    position: absolute;
    top: .6rem;
    left: 0.2rem;
    width: 2.4rem;
    border: 2px dashed var(--color-primary);
    z-index: 8;
}
.story p{
    text-align: center;
    margin-top: -3rem;
    color: white;
    z-index: 8;
    position: absolute;
    width: 100%;
    font-size: .9rem;
    letter-spacing: .4px;
    cursor: pointer;
}
.story>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.story .add-story{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: var(--color-primary);
    top: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.story .add-story i{
    display: block;
    font-size: 1.4rem;
    margin-top: -1rem;
    color: var(--bg-color);
    cursor: pointer;
}
.story .add-story p{
    margin-bottom: -7rem;
}
/* ...........Stories end............ */

.main-middle .add-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4rem var(--card-padding);
    border-radius: var(--border-radius);
    background: var(--bg-color);
    margin-top: 1rem;
}
.main-middle .add-post input[type="text"]{
    justify-self: start;
    width: 100%;
    padding-left:1rem ;
    background: transparent;
    color: var(--color-dark);
    margin-right: 1rem;
}
.main-middle .add-post .profile-picture{
    width: 2.8rem;
}

/* ............Start Feed Aria.......... */
.feeds .feed{
    background: var(--bg-color);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin: 1rem auto;
    line-height: 1.5;
    font-size: .85rem;

}
.feeds .feed .feed-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.myfeed .feed-top .edit{
     position: relative;
}
.feed .feed-top .user{
    display: flex;
    gap: 1rem;
}
.feed .feed-top .edit img{
    width: 1.7rem;
}

.feed .feed-img{
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: .8rem 0;
}
.feed .action-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
    cursor: pointer;
}

.action-button span:first-child i{
    font-weight: normal;
}
.action-button span:nth-child(2) i{
    font-weight: normal;
}
.bookmark i{
    font-weight: normal;
}
.liked-by{
    display: flex;
}
.liked-by span{
    border-radius: 50%;
    display: block;
    height: 1.4rem;
    width: 1.4rem;
    overflow: hidden;
    margin-left: -.6rem;
    border: 2px solid var(--color-white);
}
.liked-by span:first-child{
    margin: 0;
}
.liked-by p{
    margin-left: .5rem;
}
.hars-tag{
    color: var(--color-primary);
}
.edit .edit-menu{
    background: var(--bg-color);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    right: 0;
    box-shadow: 0 0 .2rem var(--color-primary);
    top: 2.4rem;
    transform: scale(0);
    transition: 300ms all ease;
    transform-origin:top right ;
}
.edit:hover .edit-menu{
    transform: scale(1);
}

.edit .edit-menu li{
    display: flex;
    gap: .7rem;
    align-items: center;
    font-size: 1rem;
    color: var(--color-gray);
    transition: 300ms ease all;
}
.edit .edit-menu li:hover{
    color: var(--color-dark);
}
.edit .edit-menu li:last-child:hover{
    color: var(--color-danger);
}

.add-post-2 {
  display: none;
}

.add-post-1 {
  display: block;
}
/* ............End Feed Aria........... */

/* ...............End Main Medle............... */


/* ...............Start Main Right............... */
.main-right{
    height: max-content;
    position: sticky;
    top: -18rem;
    bottom: 0;
}

/*............ Start Message.......... */

.messages{
    background: var(--bg-color);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
}
.message-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.messages i{
    font-size: 1.4rem;
}
.messge-serch-bar{
    display: flex;
    background: var(--bg-color);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
    gap: .5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--color-gray);
}
.messge-serch-bar input[type="search"]{
    background: transparent;
    font-size: .9rem;
    color: var(--color-dark);
}
.message-categories{
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
}
.message-categories h6{
    font-weight: bold;
    width: 100%;
    font-size: .85rem;
    padding-bottom: .5rem;
    border-bottom: 4px solid var(--color-light);
    text-align: center;

}
.message-categories .active{
    border-color: var(--color-primary);
}
.message{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: start;
}
.message:last-child{
    margin-bottom: 0;
}
.message p{
    font-size: .8rem;
}
.message .profile-picture{
    position: relative;
    overflow: visible;
    height: 2.6rem;
    width: 2.6rem;
}
.message .profile-picture img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.green-active{
    width: .8rem;
    height: .8rem;
    background: var(--color-success);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.message-request{
    color: var(--color-primary);
}
/*............ End Message.......... */


/*............ Start friend Request.......... */
.friend-rquest{
    margin-top: 1rem;
}
.friend-rquest h4{
    color: var(--color-gray);
    margin: 1rem 0;
}
.request{
    background-color: var(--bg-color);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-bottom: 1rem;
}
.request .profile-picture{
    height: fit-content;
}
.alert{
    display: none;
    margin-top: 1rem   ;
    margin-left: -1.5rem;

}
.request .info{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.request .action{
    display: flex;
    gap: .2rem;
}
.request .action .btn-danger{
    background: var(--color-danger);
    color: var(--color-white);
}
/*............ End friend Request.......... */
/* ...............End Main Right............... */

/* .................End Main Section.................. */











/* .................Start Popup Aria ................. */

/* .............Start Profile Popup............. */
.popup{
    width: 100%;
    height: 100%;
    align-items: center;
    position: fixed;
    top: 0;
    justify-content: center;
    z-index: 9;
    background: #000000ba;
    display: none;
    padding-top: 4rem;
}
.popup>div{
    display: flex;
}
.popup-box{
    width: fit-content;
    height: max-content;
    background: var(--bg-color);
    padding: 3rem;
    border-radius: var(--card-border-radius);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: var(--color-primary) 0 0 .3rem;
}
.profile-popup-box{
    width: 80vw;
    height: 80vh;
    position: relative;
}
.profile-popup-box>div{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 2rem;
    position: relative;
}

.edit-profile {
  position: absolute;
  top: 1.5rem;
  left: .6rem;
  width: 24px;
  height: 24px;
  cursor:pointer;
}

#profile-upload{
    display: none;
}
.profile-popup-box h1{
    line-height: 1.8;
}
.popup .close{
    font-size: 1.6rem;
    color: var(--color-danger);
    margin-left: .5rem;
    margin-top: -.5rem;
    cursor: pointer;
}

/*.............. End Profile popup.............. */


/*.............. Start Add post popup.............. */
.add-post-pop{
    gap: 1rem;
}
.post-title{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 0rem;
}
.post-title label{
    font-size: 1.4rem;
    font-weight: bold;
}
.post-title input{
    background: #fff;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    font-size: 1.1rem;
}
.post-title input:focus{
    border: 1px solid var(--color-gray);
}
.post-img{
    display: flex;
    flex-direction: column;
    gap: .5rem;

}
.post-img input[type='file']{
    display: none;
    margin-top: 1rem;
}
.post-img img{
    width: 6rem;
    margin: auto;
    border: 1px solid var(--color-primary);
    margin-top: 1rem;
    border-top-right-radius: 25%;
    border-bottom-left-radius:  25%;
}
.post-img .feed-upload-button{
    padding: var(--card-padding);
    border: 2px dashed var(--color-dark);
    font-weight: bold;
    margin-top: .4rem;
}
/*.............. End Add post popup.............. */


/*.............. Start Theme Customize popup.............. */

.theme-customize {
  background: rgba(255, 255, 255, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 0.9rem;
  display: none;
}

.theme-customize-popup-box {
  width: 80vw;
  height: 80vh;
}
.theme-customize-popup-box .font-size{
    margin-top: 3rem;
}
.theme-customize-popup-box h1{
    margin-bottom: -5rem;
}
.theme-customize-popup-box .font-size>div{
    display: flex;
    padding: var(--search-padding);
    border-radius: var(--card-border-radius);
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color);
    margin: 1rem 0;
}
.choose-size{
    height: .3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--color-secondary);
    align-items: center;
    margin: 0 1rem;
    gap: 4rem;
}
.choose-size span{
    width: 1rem;
    height: 1rem;
    background: var(--color-secondary);
    cursor: pointer;
    border-radius: 50%;
}
.choose-size .active{
    background: var(--color-primary);
}
/* ........Color......... */
.choose-color{
    margin: 1rem 0;
    justify-content: space-between;
    border-radius: var(--card-border-radius);
    padding: var(--search-padding);
    justify-content: space-between;
    background: var(--color-light);
    align-items: center;
}
.choose-color span{
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    display: inline-block;
    margin: 0 .5rem;
}
.choose-color .active{
    border: 4px solid var(--color-dark);
}
.choose-color span:nth-child(1){
    background: hsl(252, 75%, 60%);
}
.choose-color span:nth-child(2){
    background: hsl(52, 75%, 60%);
}
.choose-color span:nth-child(3){
    background: hsl(352, 75%, 60%);
}
.choose-color span:nth-child(4){
    background: hsl(152, 75%, 60%);
}
.choose-color span:nth-child(5){
    background: hsl(202, 75%, 60%);
}
/* ........Background......... */


#dark-btn {
  position: absolute;
  bottom: auto;
  background: var(--color-gray);
  width: 45px;
  border-radius: 15px;
  padding: 2px 3px;
  cursor: pointer;
  display: flex;
  transition: padding-left 0.5s, background 0.5s;
}

#dark-btn span {
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
}

#dark-btn.dark-btn-on {
  padding-left: 23px;
  background: #000;
  border: 1px solid var(--color-gray);
}

.choose-bg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    margin-top: 1rem;
}
.choose-bg>div{
    display: flex;
    width: 100%;
    padding: var(--card-padding);
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: .4rem;
    cursor: pointer;
}
.choose-bg .active{
    border: 2px solid var(--color-primary);
}
.choose-bg .bg1{
    background: white;
    box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.3);
    color: black;
}
.choose-bg .bg2{
    color: white;
    background: hsl(252, 30%, 17%);
}
.choose-bg > div span{
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    border:2px solid var(--color-gray);
    margin-right: .4rem;
}
/*.............. End Theme Customize popup.............. */

/* .................End Popup Aria.................. */


/* ...........Java Script Other Classes............ */
.boxshadow1{
    box-shadow: 0 0 .5rem var(--color-primary);
}

.liked{
    font-weight: bold !important;
    color: var(--color-danger);
    transform: scale(1.2);
}

/*******************
MEDIA QUERIES FOR SMALL LAPTOPS AND BIG TABLETS
******************/

@media screen and (max-width: 1200px) {
  .container {
    width: 95%;
  }

  main .container {
    grid-template-columns: 5rem auto 30vw;
    gap:1rem;
  }

  .main-left {
    width: 5rem;
    z-index: 5;
  }

  main .container .main-left .profile {
    display: none;
  }

  aside h3{
      display: none;
  }
  aside .btn{
      display: none;
  }

  .theme-customize > div {
    width: 90vw;
  }


  .middle-container{
      width: 50vw;
      height: 50vh;
      margin: 0 auto;
  }

}

@media screen and (max-width: 600px) {
  .add-post-2 {
    display: block;
    position: absolute;
    right: 3rem;
  }

  .add-post-1 {
    display: none;
  }
}

/*******************
MEDIA QUERIES FOR SMALL TABLETS AND MOBILE PHONES
******************/

@media screen and (max-width: 992px) {

  main .container {
    grid-template-columns: 0 auto 5rem;
    gap: 0;
  }

  main .container .main-left {
    grid-column: 3/4;
    position: fixed;
    top: 10%;
    right: 0;
    display: none;
  }

  /* ------- NOTIFICATIONS POPUP ---------*/
  .main-left .notification-box {
    position: absolute;
    left: -20rem;
    width: 20rem;
  }

  .left .notification-box::before {
    position: absolute;
    top: 5.3rem;
    left: calc(20rem - 0.6rem);
    display: block;
  }


  main .container .main-middle {
    grid-column: 1/3;
  }

  main .container .main-right {
    display: none;
  }

  .logo h3{
      font-size: .9rem;
      font-weight: 500;
      text-transform: uppercase;

  }

  nav .serch-bar input[type="search"]{
      width: 15vw;
}
  .theme-customize > div {
     width: 92vw;
  }

  .middle-container{
      width: 100vw;
      height: 100vh;
      margin: 0 auto;
  }

  .footer {
    display: flex;
  }

  footer .menu-item h6 {
    font-size: .5rem;
  }

}

/* =====================End Media Queryes======================= */
