/* En quête de connaissances et passionné d'informatique, je suis BAH Mamadou, étudiant en Licence 2 Mathématiques Informatique à Lyon 1. La programmation est ma toile, et chaque ligne de code est un coup de pinceau qui crée des solutions et donne vie à des idées. */
/* En quête de connaissances et passionné d'informatique, je suis BAH Mamadou, étudiant en Licence 2 Mathématiques Informatique à Lyon 1. La programmation est ma toile, et chaque ligne de code est un coup de pinceau qui crée des solutions et donne vie à des idées. */
/*............ Start friend Request.......... */
.friend-rquest{
    margin-top: 1rem;
}
.friend-rquest h4{
    color: var(--color-gray);
    margin: 1rem 0;
}
.request{
    background-color: var(--bg-color);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-bottom: 1rem;
}
.request .profile-picture{
    height: fit-content;
}
.alert{
    display: none;
    margin-top: 1rem   ;
    margin-left: -1.5rem;

}
.request .info{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.request .action{
    display: flex;
    gap: .2rem;
}
.request .action .btn-danger{
    background: var(--color-danger);
    color: var(--color-white);
}
/*............ End friend Request.......... */
