/* En quête de connaissances et passionné d'informatique, je suis BAH Mamadou, étudiant en Licence 2 Mathématiques Informatique à Lyon 1. La programmation est ma toile, et chaque ligne de code est un coup de pinceau qui crée des solutions et donne vie à des idées. */
/* ............Start Feed Aria.......... */
.feeds .feed{
    background: var(--bg-color);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin: 1rem auto;
    line-height: 1.5;
    font-size: .85rem;

}
.feeds .feed .feed-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.myfeed .feed-top .edit{
     position: relative;
}
.feed .feed-top .user{
    display: flex;
    gap: 1rem;
}
.feed .feed-top .edit img{
    width: 1.7rem;
}

.feed .feed-img{
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: .8rem 0;
}
.feed .action-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
    cursor: pointer;
}

.action-button span:first-child i{
    font-weight: normal;
}
.action-button span:nth-child(2) i{
    font-weight: normal;
}
.bookmark i{
    font-weight: normal;
}
.liked-by{
    display: flex;
}
.liked-by span{
    border-radius: 50%;
    display: block;
    height: 1.4rem;
    width: 1.4rem;
    overflow: hidden;
    margin-left: -.6rem;
    border: 2px solid var(--color-white);
}
.liked-by span:first-child{
    margin: 0;
}
.liked-by p{
    margin-left: .5rem;
}
.hars-tag{
    color: var(--color-primary);
}
.edit .edit-menu{
    background: var(--bg-color);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    right: 0;
    box-shadow: 0 0 .2rem var(--color-primary);
    top: 2.4rem;
    transform: scale(0);
    transition: 300ms all ease;
    transform-origin:top right ;
}
.edit:hover .edit-menu{
    transform: scale(1);
}

.edit .edit-menu li{
    display: flex;
    gap: .7rem;
    align-items: center;
    font-size: 1rem;
    color: var(--color-gray);
    transition: 300ms ease all;
}
.edit .edit-menu li:hover{
    color: var(--color-dark);
}
.edit .edit-menu li:last-child:hover{
    color: var(--color-danger);
}

/* ............End Feed Aria........... */
