.create-stories-full-view {
  position: fixed;
  inset: 0;
  z-index:70;
  background: var(--color-dark);
  display: none;
  place-items: center;
}

.create-story .header {
  display: flex;
  position: absolute;
  top: 0rem;
  justify-content: space-between;
  z-index: 1;
  width: 95%;
  height: 38px;
  background: linear-gradient(transparent, #fff 130%);
  border-radius: 22px;
  margin-left: .4rem;
  padding: 10px;
}

.header .previous-btn-create {
  height: 80%;
  position: absolute;
  z-index: 2;
  top: .3rem;
  left: .2rem;
  background: #fff;
  color: #444;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
}

.header .write-text {
  border-radius: 50%;
  width: 36px;
  height: 90%;
  background: var(--color-dark);
  position: absolute;
  right: 4.6rem;
  top: .2rem;
  border: 1px solid var(--color-white);
  cursor: pointer;
}

.header .select-font {
  border-radius: 50%;
  width: 36px;
  height: 90%;
  position: absolute;
  right: 8rem;
  top: .0rem;
  cursor: pointer;
}

.create-story .font-family-container span.active {
  background-color: #fff;
  color: #444;
  border: 1px solid var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 5px;
}

.create-story .font-family-container span:hover {
  background-color: #fff;
  color: #444;
  border: 1px solid var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 5px;
}

.create-story .font-family-container {
  background: var(--color-dark);
  width: 200px;
  height: auto;
  position: absolute;
  top: 8%;
  right: 17%;
  border-radius: 20px;
  border: 1px dotted var(--color-white);
  padding: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.visible {
  display: flex !important; /*veut dire attention ceci est important, haha*/
}


.create-story .font-family-container span{
background: var(--color-dark);
color: var(--color-white);
padding: 3px;
margin: 5px;
width: 100%;
height: 40px;
}

.create-story .font-family-container span.times-new {
  font-family: 'Times New Roman', serif;
}

.create-story .font-family-container span.calibri {
  font-family: 'Calibri', sans-serif;
}

.create-story .font-family-container span.courier-new {
  font-family: 'Courier New', monospace;
}

.create-story .font-family-container span.georgia {
  font-family: 'georgia', serif;
}

.create-story .font-family-container span.Roboto {
  font-family: 'roboto', serif;
}

.create-story .font-family-container span.comic-sans-ms {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.header .palette {
  position: absolute;
  top: .0rem;
  right: .7rem;
  height: 71%;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.header .write-text p {
  position: absolute;
  top: .2rem;
  left: .4rem;
  font-size: 1rem;
  color: var(--color-white);
}

.create-story .body {
  overflow: visible;
  justify-content: space-between;
  align-items: center;
}

.body {
  width: 100%;
  height: 100%;
}

.body img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  z-index: 0;
}

.body video {
  object-fit: contain;
}

.create-story .footer {
  display: flex;
  position: absolute;
  bottom: 0rem;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 90%;
  background: linear-gradient(transparent, #fff 130%);
  border-radius: 22px;
  margin-left: 1.3rem;
}

.create-story .footer .left,
 .create-story .footer .right{
    padding: 5px;
    width: 35%;
    border-radius: 6rem;
    border: none;
    margin: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-dark);
    font-size: .8rem;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.create-story .footer .right{
  position: relative;
  right: 6%;
}

.create-story .footer .left{
  position: relative;
  left: 6%;
}

.footer .music {
  height: 71%;
  width: 40px;
  position: absolute;
  left: 46.5%;
  top: 2%;
}

.stories-full-view .story .content-txt {
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Courier New', monospace;
}

.create-story .footer .left img,
.create-story .footer .right .icone-start {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 2px;
  border: 1px solid var(--color-white);
  color: var(--color-success);
}

.create-story .footer .left p.text,
.create-story .footer .right p.text {
  position: absolute;
  left: 3rem;
  color: var(--color-white);
}

.hidden {
  display:  none;
}

.create-story #editor-container,
.stories-full-view .content-txt {
  position: absolute;
   /* Position initiale */
   top: 18%;
   left: 16%;
   background: transparent;
   border: none;
   cursor: pointer;
   color: #fff;
   width: 55%;
   padding: 30px;
}

#editor-container input {
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(2px);
  position: absolute;
  top: 2rem;
  left: 2rem;
  border: 1px dashed #fff;
  border-radius: 10px;
  text-align: center;
}

#editor-container input::placeholder {
  font-weight: 600;
}

.create-story #editor-container ,
.stories-full-view .content-txt{
  z-index: 200;
  cursor: grabbing;
}

.text-editor.dragging {
  cursor: grabbing;
}

.body img , .body video {
  z-index: 0;
}

@media  screen and (max-width: 650px){
  .create-story .footer {
    width: 92%;
    margin-left: 0.2rem;
  }

  .create-story .header {
    position: absolute;
    top: 3rem;
    width: 92%;
    padding: 30px;
  }

  .create-story .body img {
    object-fit: content;
    width: 90%;
    margin-left: .8rem;
  }

  .header .write-text {
    width: 44px;
    height: 68%;
    position: absolute;
    right: 4rem;
    top: .7rem;
  }

  .header .palette {
    position: absolute;
    top: .7rem;
    right: .3rem;
    height: 71%;
    width: 40px;
    border-radius: 50%;
  }

  .header .write-text p {
    position: absolute;
    top: .4rem;
    left: .6rem;
    font-size: 1rem;
  }

  .create-story .text-editor {
    position: absolute;
     /* Position initiale for mobile phone*/
     top: 18%;
     left: 33%;
     cursor: pointer;
  }

  .footer .music {
    left: 45%;
    top: 2%;
  }

  .create-story #editor-container,
  .stories-full-view .content-txt {
    position: absolute;
     /* Position initiale */
     top: 20%;
     left: 0%;
     width: 82%;
  }

  .create-story .font-family-container {
    position: absolute;
    top: 16%;
  }

  .header .select-font {
    position: absolute;
    top: .8rem;
  }
}
